node_modules/
public/
.cache/
.DS_Store
# Assets are populated into the static folder dynamically
static/*
# Assets we can add manually into the static folder
!static/public
!static/legacy-url-sitemap.xml
coverage/
.coverage
.env.*

# Test information
tests/unit/data/site/__testDataLatest.json
cypress/videos
cypress/screenshots

preview/page-ast.json
preview/bundle.js

.idea/

/sitediff/
