registry=https://artifactory.corp.mongodb.com/artifactory/api/npm/npm/
# The below namings are consistent with the Docs Platform, so any changes should
# go through that team as well, otherwise our builds may break
_auth=${NPM_BASE_64_AUTH}
email=${NPM_EMAIL}
always-auth=true
//artifactory.corp.mongodb.com/:_authToken=dW5pdmVyc2l0eS1wbGF0Zm9ybTpBS0NwOGpRblV5UVVYR0NWRkZ3QllHVnNxakpQMnQxanVmSHFpbUZDcllUZ3hFbzZaZkthRmM1QkpMeVRRdUV3dm5GTmU5cGNv
