# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: DevHub npm test
on: [pull_request]
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout target branch
              uses: actions/checkout@v2
            - name: Use Node.js 14.x
              uses: actions/setup-node@v1
              with:
                  node-version: '14.x'
              env:
                  NPM_AUTH: ${{ secrets.ARTIFACTORY_NPM_AUTH }}
                  NPM_EMAIL: ${{ secrets.ARTIFACTORY_NPM_EMAIL }}
            - name: Cache node modules
              uses: actions/cache@v2
              id: cache
              with:
                  path: node_modules
                  key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-node-
            - name: Check Secrets
            -
            - name: Install Dependencies
              if: steps.cache.outputs.cache-hit != 'true'
              run: npm ci NPM_AUTH=${{secrets.ARTIFACTORY_NPM_AUTH }} NPM_EMAIL=${{secrets.ARTIFACTORY_NPM_EMAIL }}
              env:
                  NPM_AUTH: ${{ secrets.ARTIFACTORY_NPM_AUTH }}
                  NPM_EMAIL: ${{ secrets.ARTIFACTORY_NPM_EMAIL }}
            - run: npm test
