name: DevHub CI test
on: [pull_request]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout target branch
              uses: actions/checkout@v2
            - name: Use Node.js 14.x
              uses: actions/setup-node@v1
              with:
                  node-version: '14.x'
            - name: Cache node modules
              uses: actions/cache@v2
              id: cache
              with:
                  path: node_modules
                  key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-node-

            - name: Install Dependencies
              if: steps.cache.outputs.cache-hit != 'true'
              run: npm ci
            - name: Install Cypress
              if: steps.cache.outputs.cache-hit == 'true'
              run: ./node_modules/.bin/cypress install

            - name: Create .env.production file
              run: |
                  touch .env.production
                  echo "GATSBY_SITE=devhub" > .env.production; \
                  echo "GATSBY_PARSER_CI_USER=jordanstapinski" >> .env.production; \
                  echo "GATSBY_PARSER_USER=jordanstapinski" >> .env.production; \
                  echo "GATSBY_PARSER_BRANCH=CI" >> .env.production; \
                  echo "GATSBY_SNOOTY_DEV=true" >> .env.production; \
                  echo "STRAPI_URL=http://18.144.177.6:1337" >> .env.production
            - name: Build Gatsby
              run: npm run buildTest
              env:
                  OKTA_URL: ${{ secrets.OKTA_QA_URL }}
                  OKTA_CLIENT_ID: ${{ secrets.OKTA_QA_CLIENT_ID }}
            - name: Cypress run
              uses: cypress-io/github-action@v2
              with:
                  install: false
                  start: npm run serveTest
                  wait-on: 'http://localhost:9000'
            - name: Generate artifacts on failure
              uses: actions/upload-artifact@v2
              if: failure()
              with:
                  name: cypress-screenshots
                  path: cypress/screenshots
            - name: Run Lighthouse
              uses: treosh/lighthouse-ci-action@v7
              with:
                  configPath: './lighthouserc.json'
                  runs: 2
